.about-body{
    text-align: center;
    width: 288px;
    margin: 0 auto;
    flex: 1 1 auto;
}

.about-body h3 {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #000000;
}

.about-body .about-inner-body {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #9b9b9b;
}

.about-body .about-inner-body div {
    margin-bottom: 20px;
}

.about-body .about-bottom div{
    margin-bottom: 10px;
}

.about-body .about-bottom .emoji-row {
    font-size: 15px;
    height: 21px;
}

.about-body .about-bottom .emoji-row img {
    width: 21px;
    height: 21px;
}

.about-body .about-bottom a {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #000000;
}

.about-body .social img {
    width: 15px;
    height: 15px;
}

.about-body .quote-image img {
    width: 158px;
    height: 109px;
    object-fit: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.about-body .quote-image iframe {
    width: 200px;
    height: 150px;
    object-fit: contain;
}
