
*{
    font-family: Helvetica, Arial, sans-serif;
}

.container-fluid {
    padding-right: 0px;
}

.table-row-wrapper {
    /* background-image: url("../img/background-image-5.png");
    background-repeat: no-repeat;
    background-size: 568px 735px;
    background-position: 41% 82%; */
}

@media (max-width: 1150px) {
    .table-row-wrapper {
        background-image: none;
    }
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
}


.top-nav {
    height: 75px;
    flex: 0 0 auto;
}

.header  {
    padding: 3px 8px 3px 0px;
    height: 31px;
    color: #fff;
    background-color: #000000;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}

.header span, .header h1{
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff;
    display: inline;
    margin: 0;
}

.header span a, .header h1 a {
    color: #fff;
}

.header img {
    width: 15px;
    height: 27PX;
    object-fit: contain;
    text-align: right;
    float: right;
    line-height: 15px;
    vertical-align: middle;
    margin-left: 8px;
}

.filter-row {
    margin: 10px 0;
}

.filter-row .city-container {
    padding-left: 5px;
}

.filter-row .filter-item {
    margin-right: 32px;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #8a8a8f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

.filter-row .selected {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #000000;
}

.filter-row img {
    float: right;
}

.table-row-wrapper{
    flex: 1 1 auto;
    display: flex;
}

.table-container {
    flex: 0 0 auto;
    padding: 10px;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 0;
}

.table thead tr {
    height: 11px;
    border: none;
    border-bottom: solid 1px #000000;
}

.loader-container{
    flex: 1 1 auto;
    display: flex;
}

.loader-container .row {
    margin-left: 0px;
    margin-right: 0px;
}

.loader-row {
    width: 100%;
}

.loader {
    text-align: center;
}

.loader img {
    top: 50%;
    left: 50%;
    position: fixed;
    margin-left: -15px;
    margin-top: -25px;
}

div.loader {
    padding: 0px;
}
.table-row-wrapper .row {
    width: 100%;
}

.table caption {
    color: #9b9b9b;
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 15px;
    margin-top: 10px;
}

.table thead tr th.avg{
    width: 51px;
    text-align: center;
}

.table thead tr th.rest-name{
    width: 230px;
}

.table thead tr th.rest-style{
    width: 105px;
    text-align: left;
}

.table thead tr th.barstool{
    width: 115px;
    min-width: 83px;
    text-align: center;
}

.table thead tr th.yelp{
    width: 70px;
    min-width: 42px;
    text-align: center;
}

.table thead tr th.infatuation{
    width: 120px;
    min-width: 92px;
    text-align: center;
}

.table thead tr th.zaislifescore{
    width: 85px;
    min-width: 66px;
    text-align: center;
}

.table thead tr th.expand{
    width: 55px;
}

.table thead tr th.zaisliferecom{
    width: 43%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.table tbody tr td.zaisliferecom {
    white-space: nowrap;
    width: 43%;
    text-align: left;
}

.table tbody tr td.zaisliferecom div {
    overflow: hidden;
}

.table tbody tr td.zaisliferecom a.more {
    display: none;
}

.table tbody tr td.overflow-cell {

position: relative;
}

.table tbody tr td.overflow-cell a.more {
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #dee2e6;
    padding: 2px 7px;
    color: #000;
    text-transform: uppercase;
}

.table tbody tr td.overflow-cell div {
    width: 86%;
    display: inline-block;
}

.table tbody tr td.show-more {

white-space: normal;
}

.table tbody tr td.show-more div {

overflow: visible;
}

.table tbody tr td.show-more a.more {
    
}

.table thead tr th {
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #000000;
    border: none;
    height: 11px;
    padding: 0px 5px 7px;
    cursor: pointer;
    text-transform: uppercase;
}

.table thead tr th span:first-child , .table thead tr th a{
    height: 15px;
    display: inline-block;
}

.table thead tr th.expand span {
    height: 16px;
}

.table tbody tr {
    height: 17px;
    border: none;
}

.table tbody tr td {
    color: #9b9b9b;
    font-size: 13px;
    padding: 0px 5px;
    border: none;
    padding-top: 4px;
    font-weight: bold;
}

.table tbody tr td a {
    color: #9b9b9b;
    text-decoration: none;    
}

.table tbody tr td a:hover{
    text-decoration: underline; 
}

.table tbody tr:first-child td {
    padding-top: 8px;
}

.table tbody tr td.highlighted-review {
    padding-left: 8px;
}

.table tbody tr td.highlighted-review span {
    border-radius: 8px;
    /* background-color: rgba(168, 214, 167, 0.43); */
    padding: 2px 5px;
    width: 31px;
    display: inline-block;
    text-align: center;
}

.table tbody tr td.high-tier span {
    background-color: #A8D6A7;
}

.table tbody tr td.middle-tier span {
    background-color: #ECF6EC;
}

.table tbody tr td.low-tier span {
    background-color: #F4FAF4;
}

.table tbody tr td.rest-style {
    color: #222;
    font-size: 13px;
    text-align: left;    
}

.table tbody tr td.rest-name {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr td.rest-name a {
    color: #000;
}
}

.table td.rest-name {
    text-align: left;
}

.table td.avg {
    /* text-align: center; */
    font-weight: 400;
    color: #000;
}

.table td.barstool {
    text-align: center;
}

.table td.yelp {
    text-align: center;
}

.table td.infatuation {
    text-align: center;
}

.table td.zaislifescore {
    text-align: center;
}

.table .mobile-information {
    display: none;
    margin: 5px 0;
}

.table .mobile-information div span:first-child {
    text-transform: uppercase;
    width: 125px;
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    color: #000;
}

.table .mobile-information div {
    font-weight: 600;
    font-size: 12px;
    color: #9b9b9b;
    padding: 2px 0px;
}

.table tbody tr td .mobile-information div span:nth-child(2), .table tbody tr td .mobile-information div a {
    color: #9b9b9b;
}

.table div.barstool {

}

.table div.yelp {

}

.table div.infatuation {

}

.table div.zaislifescore {

}

.table div.zaisliferecom {
    overflow: visible;
    white-space: normal;
}

.table tbody td.expand {
    text-align: center;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.map-all {
    font-size: 12px;
    font-weight: 900;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    float: right;
    line-height: 24px;
    vertical-align: middle;
    position: relative;
  }

.filter-row img.map-image{
    width: 10.5px;
    height: 15px;
    background-color: #fff;
    float: none;
    /* vertical-align: middle; */
    /* line-height: 14px; */
    top: -2px;
    position: relative;
  }

.table th span.arrows {
    display: inline-block;
    height: 3px;
    line-height: 11px;
    margin-left: 4px;
}

.table th span.arrows:before,
.table th span.arrows:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	width: 0;
}
.table th span.arrows:before {
	border-bottom-color: #999999;
	margin-top: -9px;
}

.table th span.arrows:after {
	border-top-color: #999999;
	margin-top: 1px;
}

.table thead tr th.zaisliferecom span.arrows:before,
.table thead tr th.zaisliferecom span.arrows:after {
    display: none;
}

.table th.filteredColumn {
    background-color: #DAEDD9;
}

.table th.sorted.descending span.arrows:after {
    border-top-color: #000;
}
 
.table th.sorted.ascending span.arrows:before {
    border-bottom-color: #000;
}

.bottom-nav {
    flex: 0 0 auto;
    height: 31px;
    padding: 5px 15px 5px 19px;
    line-height: 31px;
    border-top: solid 1px rgba(155, 155, 155, 0.17);
}

.bottom-nav div:first-child {
    padding-left: 0px;
}

.last-updated {
    color: #9b9b9b;
    text-transform: uppercase;
    font-size: 10px;
}

.bottom-nav .bottom-nav-col {
    vertical-align: middle;
    line-height: 18px;
}
.bottom-nav img {
    height: 12px;
    margin-right: 3px;
}

.bottom-nav a {
    text-decoration: none;
}

.bottom-nav .about{
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: left;
    color: #9b9b9b;
    text-transform: uppercase;
}

.bottom-nav .quote{
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.2px;
    text-align: left;
    color: #9b9b9b;
    text-align: right;
    padding-right: 25px;
    float: right;
    line-height: 21px;
}

.about-body{
    text-align: center;
    width: 430px;
    margin: 0 auto;
    flex: 1 1 auto;
}

.about-body h3 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    color: #000000;
    margin-bottom: 20px;
}

.about-body .about-inner-body {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.about-body .about-inner-body div {
    margin-bottom: 20px;
}

.about-body .about-bottom div{
    margin-bottom: 20px;
}

.about-body .about-bottom .emoji-row {
    font-size: 15px;
    height: 21px;
}

.about-body .about-bottom .emoji-row img {
    width: 21px;
    height: 21px;
}

.about-body .about-bottom a {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.about-body .social img {
    width: 15px;
    height: 15px;
}

/* MOBILE */
@media (max-width: 1150px) {

    .table thead tr th {
        padding-left: 8px;
    }

    .table thead tr th.avg {
        width: 65px;
        max-width: 65px;
    }

    .table thead tr th.rest-name {
        width: 160px;
    }

    .table thead tr th.expand{
        width: 22px;
    }

    .filter-row .filter-item {
        margin-right: 6px;
    }

    .about-body{
        width: 281px;
    }

    .about-body .quote-image img {
        width: 281px;
        height: 364px;
    }
    
    .table tbody tr td.avg {
        text-align: left;
    }
    .table thead tr th.avg{
        text-align: left;
    }
      
}
@media (max-width: 605px) {
    .bottom-nav .bottom-nav-col {
        padding-left: 0px;
    }

    .table thead tr th.avg{
        width: 54px;
        max-width: 54px;
        padding-left: 6px;
    }
    .table thead tr th.rest-name{
        width: 142px;
    }

    .filter-row .filter-item{
        margin-right: 6px;
    }
    .container-fluid {
        padding-left: 5px;
    }

    .filter-row .city-container {
        padding-left: 1px;
        padding-right: 0px;
    }

    .table thead tr th.expand{
        width: 12px;
    }

    .map-all-container{
        padding: 0 10px 0 0px;
    }

    .table thead tr th.rest-style{
        width: 95px;
    }

    .table tbody tr td.avg {
        padding-left: 6px;
    }

    .bottom-nav {
        padding-left: 17px;
    }
        
}  